# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
!.env.example
!.env.development
!.env.staging

# typescript
*.tsbuildinfo

# generated native folders
/ios

# database
*.db
*.db-wal
*.db-shm

# Test coverage reports
coverage/

# Logs
*.log

# Build outputs
*.apk
*.ipa
*.aab

# Local markdown files
*.dev.md

/dev_only
